<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="web2textLocal" connectionString="Data Source=ACS-LAPTOP;Initial Catalog=web2text;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <add name="web2textRemote" connectionString="Data Source=w2t.dyndns.info;Initial Catalog=web2text;Persist Security Info=True;User ID=sa;Password=TROIKA;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
	<add key="net.live.search.api.search" value="http://api.search.live.net/soap.asmx"/>
	</appSettings></configuration>
